html.md-default-theme, html, body.md-default-theme, body {
  background-color: #efefef;
}

body {
  overflow-y: hidden !important; /* Fix to $mdToast https://github.com/angular/material/issues/3539 */
}

md-content {
  background-color: #efefef;
}

.md-icon-left i {
  color: #757575;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.label {
  margin-left: 10px;
  color: #616161;
}

strong {
  color: #616161;
}

md-card img {
  height: auto !important;
}

#search-parties-box {
  margin-top: 56;
  position: absolute;
  z-index: 9;
  width: 100%;
  display: none;
}

#search-parties-box md-card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#search-parties-box a {
  color: #757575; 
}

.foot-banner {
  position: fixed; 
  bottom: 0px; 
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.0),0 1px 1px 0 rgba(0,0,0,.0),0 2px 1px -1px rgba(0,0,0,.0);
  box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.foot-banner md-card-content {
  padding: 14px;
}

.foot-banner #label {
  color: rgba(0,0,0,0.54);
  color: #212121;
  vertical-align: middle;
  padding-left: 10px;
  font-weight: bold;
  font-weight: normal;
}

#map { 
  height: 100%; 
}

.progress-circular {
  position: fixed;
  top: 50%;
  left: 50%; 
  z-index: 99;
}

.md-button.md-accent.md-fab:not([disabled]):hover {
  background-color: rgb(245,245,245);
}

.md-button.md-primary.md-fab:not([disabled]):hover {
  background-color: #212121;
}

.label {
  margin-left: 7px;
  color: rgba(0,0,0,0.54);
  font-weight: bold;
}

.party-card {
  margin-bottom: 30px;
}

.party-card .details {
  color: #9e9e9e;
}

.party-card .ic {
  margin: auto 0px;
}

.party-card .ic-label {
  color: rgba(0,0,0,0.54);
}

.party-card .md-headline {
  color: #616161;
  font-weight: bold;
}

.party-card .ic-rating {
  color: #FFC107;
}

.party-history-card {
  margin-top: 20px;
}

.party-history-card .description {
  color: #9e9e9e;
}

.party-history-card .ic {
  margin: auto 0px;
}

.party-history-card .ic-label {
  color: rgba(0,0,0,0.54);
}

.party-history-card .md-headline {
  color: #616161;
  font-weight: bold;
}

.toolbar-rating-label md-icon {
  vertical-align: baseline;
  width: 13px;
}

.toolbar-rating-label i {
  font-size: small;
}

.card-party-description {
  margin: 0px;
}

.card-party-description .description {
  color: #616161;
}

.card-party-description .ic {
  margin: auto 5px;
}

.card-party-description .hoster-label {
  color: #aaa;
  margin: auto 5px;
}

.card-party-description .hoster-label md-icon {
  vertical-align: -webkit-baseline-middle;
  width: 13px;
}

.card-party-description .hoster-label i {
  font-size: small;
}

.card-party-description .hoster {
  color: #777;
  font-weight: bold;
}

.card-party-address .ic {
  margin: auto 0px;
}

.card-party-address .ic-label {
  color: rgba(0,0,0,0.54);
}

.card-party-address .btn-invite {
  color: #757575;
}

.card-party-reviews .ic {
  margin: auto 5px;
}

.card-party-reviews .ic-label {
  color: #777;
  font-weight: bold;
  margin: auto 5px;
}

.card-party-reviews .ic-label .ic-label-rating {
  color: #aaa;
  margin: auto 5px;
}

.card-party-reviews .ic-label .ic-label-rating i {
  color: #aaa;
}

.card-party-reviews md-icon {
  vertical-align: -webkit-baseline-middle;
  width: 13px;
}

.card-party-reviews  i {
  font-size: small;
  color: #FFC107;
}

.card-party-reviews .ic-action {
  margin: auto 15px;
}

.card-party-reviews .ic-action md-icon {
  vertical-align: -webkit-baseline-middle;
  width: 24px;
}

.card-party-reviews .ic-action i {
  font-size: larger;
  color: #777;
}

.card-new-party .md-headline {
  color: #616161;
  font-size: 18px;
}

.login-info {
  margin-top: -155px;
}

.login-info .photo-url {
  margin-left: 10px;
}

.login-info .display-name {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

.login-info .email {
  color: #fff;
  font-weight: normal;
  font-size: smaller;
  margin-top: 4px;
}

.card-profile {
  margin: 0px;
  background-color: #212121;
  text-align: center;
}

.card-profile .display-name {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

.card-profile .email {
  color: #fff;
  font-weight: normal;
  font-size: smaller;
  margin-top: 4px;
}

.card-profile md-card-actions .md-button {
  color: #fff;
}

.card-login {
  margin: 0px;
  height: 100%;
  background-color: #BDBDBD;
  color: #E0E0E0;
  text-align: center;
}

.card-login .title {
  color: #FFF;
}

.card-login h3 {
  font-weight: normal;
}

.card-login .md-button {
  background-color: #FFF;
}

.card-login .md-button img {
  width: 18px;
  padding: 8px;
}

.card-login .md-button span {
  padding: 8px;
  vertical-align: text-bottom;
  color: rgba(0,0,0,0.54);
} 

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgba(0,0,0,0.54);
}


.card-new-party .party-name h1 {
  margin: 0px;
}

.card-new-party .party-name input {
  padding-bottom: 10px;
  margin-top: 5px;
  height: 35px;
  color: #616161;
}

.card-results {
  background-color: #eee;
}

.delete-dialog-content {
  padding: 24px;
}

.delete-dialog-content .title {
  margin-top: 0px;
}

.delete-dialog-content .highlight {
  background-color: #fbe9e7;
  color: #d50000;
  position: relative;
  padding: 12px 0;
  line-height: 20px;
  font-size: 14px;
}

.delete-dialog-content .highlight i {
  padding-left: 15px;
  color: #ff5252
}

.delete-dialog-content .highlight span {
  padding-left: 15px;
  padding-right: 15px;
}

.delete-dialog-content .content-text {
  font-size: 13px;
  color: rgba(0,0,0,0.54);
  max-width: 280px;
  line-height: 18px;
}

.delete-dialog-actions .delete-btn, 
.delete-dialog-actions .delete-btn:hover,
.delete-dialog-actions .delete-btn:not([disabled]):hover,
.delete-dialog-actions .delete-btn:not([disabled]).md-focused {
  background-color: #e04848;
  color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.menu-card-header {
  margin: 0px;
  background-color: #212121;
}

.menu-card-header .display-name {
  color: #FAFAFA;
  font-weight: bold;
  margin-left: 20px;
}

.menu-card-header .email {
  margin-left: 20px;
  color: #FAFAFA;
  font-size: small;
}

/*
.menu-card {
  margin: 0px;
  height: 100%;
}

.menu-card a {
  text-decoration: none;
}

.menu-card .display-name {
  color: #757575;
  font-weight: bold;
  margin-left: 20px;
}

.menu-card .email {
  margin-left: 20px;
  color: #616161;
  font-size: small;
}

.menu-card .divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-card .menu-icon {
  background-color: #757575;
  border-radius: 50%;
  color: #F5F5F5;
  padding: 10px;
}

.menu-card .menu-label {
 font-weight: bold;
 color: #757575;
}*/

.search-toolbar md-input-container {
  margin-bottom: 0px;
}

.search-toolbar md-input-container input {
  border-color: #616161;
  color: #fafafa;
  font-size: medium;
  width: 150%;
}

.search-toolbar md-input-container:not(.md-input-invalid).md-input-focused label,
.search-toolbar md-input-container:not(.md-input-invalid).md-input-has-value label {
  display: none;
}

.search-toolbar md-input-container label {
  color: #616161;
  font-size: medium;
}

.search-toolbar md-input-container.md-input-focused .md-input {
  border-width: 0 0 1px;
}

.menu-card {
  margin: 56px 0px 10px 0px;
  border-radius: 0px;
}

.menu-card .display-name {
  margin: 0px;
  padding-left: 20px;
  color: #757575;
  font-size: larger;
}

.menu-card .email {
  margin: 0px;
  margin-top: 5px;
  padding-left: 20px;
  color: #616161;
  font-size: smaller;
}

.menu-card .divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-card .tab-title {
  color: #aaa;
  margin-top: 30px;
  margin-bottom: 10px;
}

.menu-card a {
  text-decoration: none;
}

.menu-card a p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #717171;
  font-weight: bold;
}

.menu-card a p md-icon {
  vertical-align: sub;
  padding-right: 20px;
}

.menu-card .profile-label {
  color: #757575;
  font-size: smaller;
  margin-top: 30px;
}

.menu-card .action-btn {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.about-dialog {
  padding: 20px;
}

.about-dialog h2 {
  margin-top: 0px;
  padding-left: 20px;
  color: #757575;
}

.about-dialog p {
  color: #aaa;
  padding-left: 20px;
  font-size: small;
}

.search-location {
  margin: 0 10px;
  color: #757575;
}

.search-location i {
  color: #757575;
}

.search-location .ic {
  margin: auto 0px;
}