<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp" style="position: fixed;">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>Host a Party</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
  </div>
</div>

<div layout="row" style="margin-top: 50px;">
  <div flex="0">
    <side-menu></side-menu>
  </div>
  <div flex>
      <md-card class="party-history-card" ng-repeat="party in PartiesCtrl.parties">
        <img ng-src="img/cocktails.gif" class="md-card-image">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{party.name}}</span>
          </md-card-title-text>
        </md-card-title>  
        <md-card-content>
          <p class="description">{{party.details}}</p>
          
          <div layout="row">
            <div flex="10" class="ic">
              <md-icon><i class="material-icons">location_on</i></md-icon>
            </div>
            <div flex class="ic-label">
              <p><span>{{party.location.address}}</span></p>
            </div>
          </div>
          
          <div layout="row">
            <div flex="10" class="ic">
              <md-icon><i class="material-icons">event</i></md-icon>
            </div>
            <div flex class="ic-label">
              <p><span>{{FindAPartyCtrl.timestampToCalendar(party.startsAt.timestamp,party.startsAt.utcOffset)}}</span></p>
            </div>
          </div>
          
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-icon-button">
            <md-icon><i class="material-icons">insert_chart</i></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="PartiesCtrl.remove(party)">
            <md-icon><i class="material-icons">delete</i></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      
    <md-button class="md-fab md-primary" style="position: fixed; bottom: 10px; right: 10px;" ng-href="#/Parties/new">
      <md-icon><i class="material-icons" style="line-height: 56px;">add</i></md-icon>
    </md-button>
  </div>
</div>