<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp" style="position: fixed;">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-href="#/Users/menu">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <h2>
          <span>Find parties near you</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-href="#/Parties/search">
          <md-icon><i class="material-icons">search</i></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-href="#/Parties/filter">
          <md-icon><i class="material-icons">settings</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </div>
</div>

<div layout="row" style="margin-top: 56px;">
  <div flex>
    <md-progress-linear id="parties-loading" md-mode="query" id="load-progress"></md-progress-linear>
  </div>
</div>

<div layout="row" class="search-location" ng-show="partyFilters.selectedAddress !== null">
  <div flex="10" class="ic">
    <md-icon><i class="material-icons">place</i></md-icon>
  </div>
  <div flex>
    <p>{{partyFilters.selectedAddress.formatted_address}}</p>
  </div>
  <div flex class="ic">
    <md-button class="md-icon-button" ng-click="PartiesCtrl.clearSelectedAddress()">
      <md-icon><i class="material-icons">clear</i></md-icon>
    </md-button>
  </div>
</div>

<div layout="row">
  <div flex>
    <a ng-repeat="party in parties" ng-href="{{'#/Parties/show/' + party.$id}}" style="text-decoration: none;">
      <md-card class="party-card">
        <img ng-src="img/cocktails.gif" class="md-card-image">
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{party.name}}</span>
          </md-card-title-text>
        </md-card-title>  
        
        <md-card-content>
          <p class="details">{{party.details}}</p>
          
          <div layout="row" ng-show="party.type == 'public'">
            <div flex="10" class="ic">
              <md-icon><i class="material-icons">location_on</i></md-icon>
            </div>
            <div flex class="ic-label">
              <p><span>{{party.location.address}}</span></p>
            </div>
          </div>
          
          <div layout="row">
            <div flex="10" class="ic">
              <md-icon><i class="material-icons">event</i></md-icon>
            </div>
            <div flex class="ic-label">
              <p><span>{{FindAPartyCtrl.timestampToCalendar(party.startsAt.timestamp,party.startsAt.utcOffset)}}</span></p>
            </div>
          </div>
          
          <!-- 
            <p>
              <span ng-repeat="n in range(1,party.rating)">
                <md-icon class="ic-rating"><i class="material-icons">star</i></md-icon>
              </span>
            </p>
          -->                    
        </md-card-content>
      </md-card>
    </a>
  </div>
</div>