<!--<md-button class="md-raised md-primary" ng-click="UsersCtrl.callGoogle()">login</md-button>-->
<md-card class="card-login">
  <md-card-content>
    <div layout="row">
      <div flex>
        <img src="img/map.png" class="img-responsive">
      </div>
    </div>
    
    <div layout="row">
      <div flex>
        <h1 class="title">Find-A-Party</h1>
        <h3>Please sign in using your Google account:</h3>
      </div>
    </div>
    
    <div layout="row">
      <div flex>
        <md-button class="md-raised" ng-click="UsersCtrl.callGoogle()">
          <img src="img/g-logo.png" class="img-responsive">
          {{UsersCtrl.btnGoogleSigninLabel}}
        </md-button>
      </div>
    </div>
  </md-card-content>
</md-card>