<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp search-toolbar" style="position: fixed;">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon><i class="material-icons">search</i></md-icon>
        </md-button>
        <span>
          <md-input-container class="">
            <input placeholder="Search places...">
          </md-input-container>
        </span>
        <span flex></span>
      </div>
    </md-toolbar>
  </div>
</div>