<div layout="row">
  <div flex>
    <md-toolbar class="md-whiteframe-6dp search-toolbar" style="position: fixed;">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon><i class="material-icons">search</i></md-icon>
        </md-button>
        <span>
          <md-input-container class="">
            <input placeholder="Search places...">
          </md-input-container>
        </span>
        <span flex></span>
      </div>
    </md-toolbar>
  </div>
</div>

<div layout="row">
  <div flex>
    <md-card class="menu-card md-whiteframe-4dp">
      <md-card-content>
        <div layout="row">
          <div flex="15">
            <img ng-src="{{UsersCtrl.user.photoUrl}}" class="img-responsive img-circle">
          </div>
          <div flex>
            <p class="display-name">{{UsersCtrl.user.displayName}}</p>
            <p class="email">{{UsersCtrl.user.email}}</p>
          </div>
        </div>
        
        <md-divider class="divider"></md-divider>
        
        <md-tabs  class="" md-dynamic-height md-stretch-tabs="always">
          <md-tab>
            <md-tab-label>
              <md-icon><i class="material-icons">link</i></md-icon>
            </md-tab-label>
            <md-tab-body>
              <p class="tab-title">Links:</p>
              <md-divider></md-divider>
              <a href="#/">
                <p>
                  <md-icon><i class="material-icons">home</i></md-icon>
                  Home
                </p>
              </a>
              
              <a href="#/Parties/new">
                <p>
                  <md-icon><i class="material-icons">local_bar</i></md-icon>
                  Host a Party
                </p>
              </a>
              
              <a href="#/Parties/history/true">
                <p>
                  <md-icon><i class="material-icons">schedule</i></md-icon>
                  Scheduled Parties
                </p>
              </a>
              
              <a href="#/Parties/history/false">
                <p>
                  <md-icon><i class="material-icons">timeline</i></md-icon>
                  History
                </p>
              </a>
            </md-tab-body>
          </md-tab>
          
          <md-tab>
            <md-tab-label>
              <md-icon><i class="material-icons">person</i></md-icon>
            </md-tab-label>
            <md-tab-body>
              <p class="tab-title">Profile:</p>
              <md-divider></md-divider>
            </md-tab-body>
          </md-tab>
          
          <md-tab>
            <md-tab-label>
              <md-icon><i class="material-icons">stars</i></md-icon>
            </md-tab-label>
            <md-tab-body>
              <p class="tab-title">Reviews:</p>
              <md-divider></md-divider>
            </md-tab-body>
          </md-tab>
          
          <md-tab>
            <md-tab-label>
              <md-icon><i class="material-icons">menu</i></md-icon>
            </md-tab-label>
            <md-tab-body>
              <p class="tab-title">App:</p>
              <md-divider></md-divider>
            </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
  </div>
</div>